{% load settings_value %}
{% load ship_info %}
{% load static  %}

<html>
  <head>
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon-iphone-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-ipad-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-iphone-retina-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-ipad-retina-152x152.png' %}">

    <style>
      #header {
          height: 5%;
          text-align: center;
          background-color: lightgray;
      }

      #header_table {
          width: 100%;
      }

      #map_canvas {
          width: 100%;
          height: 95%;
      }
    </style>
  </head>

  <div id="header">
    <table id="header_table">
    <tr>
      <td>
        <strong>English Bay Ships:</strong> {{ import_ts|date:"F d, Y" }}
      </td>
      <td>
        {% for i in prev_imports %}
          <a href="{% url 'map' i.id %}">{{ i.created_ts|date:"h:i" }}</a> |
        {% endfor %}
        {{ import_ts|date:"h:i" }}
        {% for i in next_imports %}
          {% if forloop.first %}|{% endif %}
          <a href="{% url 'map' i.id %}">{{ i.created_ts|date:"h:i" }}</a>
          {% if not forloop.last %}|{% endif %}
        {% endfor %}
      </td>
      <form method="GET" action="{% url 'import' %}">
      <td style="text-align:right;">
          <input type="submit" name="import" value="Import New Data"/>
      </td>
      </form>
    </table>
  </div>

<div id="map_wrapper">
  <div id="map_canvas" class="mapping"></div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>

<script>
  jQuery(function($) {
    // Asynchronously Load the map API
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?key={% settings_value "GOOGLE_MAP_KEY" %}&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'terrain'
    };

    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);

    // Multiple Markers
    var markers = [
        {% for r in records %}
          ['{{ r.ship.name }}', {{ r.latitude }}, {{ r.longitude }}, '{{ r.ship.flag_url }}'],
        {% endfor %}
    ];

    // Info Window Content
    var infoWindowContent = [
        {% for r in records %}
          ['{% ship_info r.ship %}'],
        {% endfor %}
    ];

    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;

    // Loop through our array of markers & place each one on the map
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        var image = markers[i][3]
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0],
            icon: image
        });

        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(13);
        google.maps.event.removeListener(boundsListener);
    });

}
</script>

</html>
